<div class="container mx-auto">
    <div class="p-2 flex justify-center">
        <form class="flex flex-row justify-center" (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
            <textarea class="mx-2 text-slate-800" name="taskDescription" id="taskDescription" cols="50" rows="1" required [(ngModel)]="taskDescription"></textarea>
            <button class="bg-blue-500 hover:bg-blue-700 disabled:bg-gray-400 font-bold py-2 px-4 rounded" type="submit" [disabled]="!taskForm.form.valid">Add Task</button>
        </form>
    </div>
    <div class="w-full flex flex-row justify-between">
        <div>
            <h2>New</h2>
            <todo-task-category [taskList]="newTasks" 
            (onDelete)="onDelete($event)"
            (onUpdate)="onUpdate($event)"
            (onSelectedTaskChange)="onSelectedTaskChange($event)"></todo-task-category>
        </div>
        <div class="w-min flex flex-col justify-center">
            <button class="w-10 h-10 my-2 bg-blue-500 hover:bg-blue-700 font-bold rounded disabled:bg-gray-400" 
            type="button"
            [disabled]="this.selectedTask?.status != todoTaskStatus.InProgress"
            (click)="updateTaskStatus(todoTaskStatus.New)">
                <span>&larr;</span>
            </button>
            <button class="w-10 h-10 bg-blue-500 hover:bg-blue-700 font-bold rounded disabled:bg-gray-400" 
            type="button"
            [disabled]="this.selectedTask?.status != todoTaskStatus.New"
            (click)="updateTaskStatus(todoTaskStatus.InProgress)">
                <span>&rarr;</span>
            </button>
        </div>
        <div>
            <h2>In Progress</h2>
            <todo-task-category [taskList]="inProgressTasks" 
            (onDelete)="onDelete($event)"
            (onUpdate)="onUpdate($event)"
            (onSelectedTaskChange)="onSelectedTaskChange($event)"></todo-task-category>
        </div>
        <div class="w-min flex flex-col justify-center">
            <button class="w-10 h-10 my-2 bg-blue-500 hover:bg-blue-700 font-bold rounded disabled:bg-gray-400" 
            type="button"
            [disabled]="this.selectedTask?.status != todoTaskStatus.Completed"
            (click)="updateTaskStatus(todoTaskStatus.InProgress)">
                <span>&larr;</span>
            </button>
            <button class="w-10 h-10 bg-blue-500 hover:bg-blue-700 font-bold rounded disabled:bg-gray-400" 
            type="button"
            [disabled]="this.selectedTask?.status != todoTaskStatus.InProgress"
            (click)="updateTaskStatus(todoTaskStatus.Completed)">
                <span>&rarr;</span>
            </button>
        </div>
        <div>
            <h2>Completed</h2>
            <todo-task-category [taskList]="completedTasks" 
            (onDelete)="onDelete($event)"
            (onUpdate)="onUpdate($event)"
            (onSelectedTaskChange)="onSelectedTaskChange($event)"></todo-task-category>
        </div>
    </div>
</div>